/* BODY */

body {
  font-size: 62.5%;
  font-family: "raleway", "sans-serif";
  color: #000000;
  background-color: #ffffff;
  margin: 2em;
}

h1 {
  font-size: 1.5em;
  font-weight: bold;
}
h2,
h3,
h4 {
  font-size: 1.1em;
  font-weight: bold;
}

a {
  text-decoration: none;
}

/* HEADER */

header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

header img {
  margin-right: auto;
}

header > a:first-of-type {
  color: #0065fc;
  font-weight: bold;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  color: #f2f2f2;
  border-bottom: 6px #f2f2f2;
}
/* FOOTER */
