/* BODY */

body {
  font-size: 1em;
  font-family: "raleway", "sans-serif";
  color: #000000;
  background-color: #ffffff;
  box-sizing: border-box;
}

h1 {
  font-size: 1.3em;
  font-weight: bold;
}

h2,
h3,
h4 {
  font-weight: bold;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

ul {
  list-style-type: none;
}

section {
  padding: 1em 2em;
}

/* SEARCH BAR SECTION */

form {
  background-color: #f2f2f2;
  height: 3em;
  margin: 30px 0 0 0;
  border: 1px solid #f2f2f2;
  border-radius: 1em 1.3em 1.3em 1em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

i.fas.fa-map-marker-alt {
  text-align: center;
  width: 3em;
}

#search_bar input {
  border: 0px;
  height: 100%;
  padding: 0 10px;
  margin-right: -10px;
  font-weight: bold;
  flex-grow: 1;
}

#search_bar button {
  background-color: #0065fc;
  border: 0;
  height: 100%;
  border-radius: 1em;
  color: #f2f2f2;
  font-size: 1em;
  flex-basis: 3em;
}

#search_bar button span {
  display: none;
}

/* FILTERS */

#filters ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

#filters ul li {
  font-size: 1.3em;
  font-weight: bold;
  text-align: center;
  margin: 0 0.7em 1em 0;
  padding-right: 1em;
  border: 1px solid #d9d9d9;
  border-left: none;
  border-radius: 3em;
}

#filters ul li:hover {
  color: #ffffff;
  background-color: #0065fc;
  font-size: 1.3em;
  font-weight: bold;
  text-align: center;
  margin: 0 0.7em 1em 0;
  padding-right: 1em;
  border: 1px solid #d9d9d9;
  border-left: none;
  border-radius: 3em;
}

#filters ul li i {
  color: #0065fc;
  background-color: #deebff;
  font-size: 1.2em;
  min-width: 3em;
  max-height: 1em;
  border-radius: 50%;
  margin-right: 0.5em;
  margin-left: -0.2em;
  padding: 1em 0.1em;
}

#filters p i {
  color: #0065fc;
  font-size: 1em;
  padding: 0.5em 0.8em;
  border: 1px solid #f2f2f2;
  border-radius: 50%;
  margin-right: 0.7em;
}

/* ACCOMODATION */

/* HEADER */

header {
  text-align: center;
  margin-top: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

header img {
  padding-left: 2em;
}

header > a:first-of-type {
  color: #0065fc;
  font-weight: bold;
  padding-right: 2em;
}

nav {
  width: 100%;
  margin-top: 1em;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav ul li {
  color: #000000;
  border-bottom: 3px solid #f2f2f2;
  padding: 0.8em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 50%;
}

nav ul li:hover {
  border-bottom: 3px solid #0065fc;
}

nav ul li:hover a {
  color: #0065fc;
}

/* FOOTER */
